{{$domain := .Host}}
{{template "header" .}}
<h1>{{.PageTitle}}</h1>
{{template "nav.html" .}}
<br>
{{ range .Users }}
<details>
  <summary><b>{{.Username}}</b> {{if not .Active}}<em>(inactive)</em>{{end}}</summary>
  <div class="user-admin-details">
    <p>Home: <a href="//{{.Username}}.{{$domain}}">{{.Username}}</a>  </p>
    <p>Email: <a href=mailto:{{.Email}}>{{.Email}}</a></p>
{{ if not .Active }}
<p>
<form action="/admin/user/{{.Username}}/activate" method="POST" class="inline">
<input
  class="button"
  type="submit"
  value="activate"
/>
</form>
</p>
{{ end }}
  <p>
<form action="/admin/user/{{.Username}}/delete" method="POST" class="inline">
<input
  class="button delete"
  type="submit"
  onclick="return confirm('Are you SURE you want to delete this user?');"
  value="delete"
/>
</form>
</div>
</details>
{{end}}

{{template "footer" .}}
