{{template "header" .}}
<h1>Admin</h1>
{{template "nav.html" .}}
<br>
{{ range .Users }}
<details>
  <summary><b>{{.Username}}</b> {{if not .Active}}<em>(inactive)</em>{{end}}</summary>
  <div class="user-admin-details">
    <p>Home: <a href="//{{.Username}}.{{$.Config.Host}}">{{.Username}}</a>  </p>
    <p>Email: <a href=mailto:{{.Email}}>{{.Email}}</a></p>
    <p>Reference: {{.Reference}}</p>
{{ if not .Active }}
<p>
<form action="/admin/user/{{.Username}}/activate" method="POST" class="inline">
<input
  class="button"
  type="submit"
  value="activate"
/>
</form>
</p>
{{ end }}
  <p>
<form action="/admin/user/{{.Username}}/impersonate" method="POST" class="inline">
<input
  class="button"
  type="submit"
  value="impersonate"
/>
</form>
</div>
</details>
{{end}}

{{template "footer" .}}
