{{$domain := .Host}}
{{template "header" .}}
<h1>🐟{{.PageTitle}} -- Feeds</h1>
{{template "nav.html" .}}
<br>
<p>
For more information on how to format your site to show up here, see <a href="https://admin.flounder.online/gemfeed.gmi">this documentation</a>
<h2>Feed:</h2>
{{ range .FeedEntries}}
<p>
{{.DateString}} <a href="//{{.Feed.Creator}}.{{$domain}}">{{.Feed.Creator}}</a> 
{{ if .Feed.Title }}<em><a href="{{.Feed.Url}}">{{.Feed.Title}}</a></em>{{end}} <a href="{{.Url}}">{{.Title}}</a>
</p>
{{end}}
<h2>All Feeds:</h2>
{{ range .Feeds}}
<a href="{{.Url}}">{{.Url}}</a>
{{ end}}
{{template "footer" .}}
