{{template "header" .}}
<h1>🐟Login</h1>
<form action="/login" method="post">
  <p>
    <label for="username" >Username or Email</label>
    <input id="username" name="username" size="27" type="text" value="" required/>
  </p>
  <p>
    <label for="password" >Password</label>
    <input id="password" name="password" size="27" type="password" value="" required />
  </p>
  {{ if .Error }}
    <div class="error">
      <p>{{.Error}}</p>
    </div>
    {{ end}}
  <p>
    <input
      class="button"
      id="submit"
      name="submit"
      type="submit"
      value="Log in"
    />
  </p>
</form>
{{template "footer" .}}
