<nav>
  <a href="/">home</a>
{{ if .AuthUser.LoggedIn }}
  <a href="//{{.AuthUser.Username}}.{{.Config.Host}}/following.gmi">following</a>
  <a href="/my_site">my_site</a>
  <a href="/me">me</a>
  {{ if .AuthUser.IsAdmin }}
  <a href="/admin">admin</a>
  {{ end }}
  <a href="/logout">logout</a>
  {{ if .AuthUser.ImpersonatingUser }}
<div class="impersonate">
  ({{.AuthUser.Username}} impersonated by {{.AuthUser.ImpersonatingUser}})</div>
  {{ end }}
{{ else }}
  <a href="/register">register</a>
  <a href="/login">login</a>

{{ end }}
</nav>
